<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Blog posts</h2>
<%= @posts.inspect %>

<h2>Skill posts</h2>
<%= @skills.inspect %>

<h2>Portfolio items</h2>
<%= @portfolios.inspect %>
